
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* reset********************* */
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    text-decoration-style: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
  }
  
a {
    all: unset;
}
/* ********************* */
body {
    overflow-x: hidden;
}

:root {
    --bg-blue: #4473DE;
    --bg-magenta: #C644DE;
    --bg-green: #0AFF8D;
}

/* colours********************* */
.blue {
    color: var(--bg-blue);
}

.magenta {
    color: var(--bg-magenta);
}

.green {
    color: var(--bg-green);
}

.bg-blue {
    background: var(--bg-blue);
}

.bg-magenta {
    background: var(--bg-magenta);
}

.bg-green {
    background: var(--bg-green);
}
/* ********************* */

nav ul > * {
    position: inherit;
}

.active::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--bg-green);
    height: 7px;
    width: 7px;
    border-radius: 50%;
}

a:hover {
    cursor: pointer;
    color: var(--bg-green);
    transition: .3s ease;
}
.section-hero {
    height: 100vh;
}
.section-hero_bg-img {
    background-image: url("../img/bg.svg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 50% 100%;
}

.img-size {
    width: 300px;
}
.p-width {
    max-width: 500px;
}

.icon {
    transition: color 0.3s ease-out;
}

.icon:hover {
    color: var(--bg-green);
}


@media only screen and (max-width: 1199px) {
    .p-width {
        max-width: 100%;
    }
    .pill-container {
        max-width: 500px;
        margin: auto;
  }
}

@media only screen and (max-width: 767px) {
    nav {
        display: none;
    }
    .section-hero_bg-img {
        background-position: top left;
        background-repeat: no-repeat;
        background-size: 200% 50%;
    }
    .section-hero {
        height: auto;
        padding: 10vh 0;
    }
}
